<div id="introduction">
	<h1>Portmanteau</h1>

	<h2>/pɔːtˈmantəʊ/</h2>
	<br>
	1. a word blending the sounds and combining the meanings of two others, for example motel or brunch 
	<br>
	2. this blog
	<br>
</div>
