<h1>Hi, I'm Konrad</h1>

<h2>I'm a self-thaught software developer.</h2>

Welcome to my private one square meter of the Internet.

<br>
<br>
Here's where I share notes about technology, Web or JavaScript.
<br>
<br>
Do not hesitate to contact me at <strong>hello@knrdhz.me</strong>
<br>
<br>
