<link rel="stylesheet" href="./assets/styles.css" type="text/css"></link>
<link rel="shortcut icon" type="image/x-icon" href="./assets/favicon.ico">

<section class="pageHeader">
  <a href="/" class="purple">Home</a>
  <a href="/about" class="purple">About</a>
  <a href="/contact" class="purple">Contact</a>
</section>

<h1>/knrdhz</h1>
