<link rel="stylesheet" href="./assets/styles.css" type="text/css"></link>
<link rel="shortcut icon" type="image/x-icon" href="./assets/favicon.ico">

<section class="pageHeader">
  <a href="/" class="purple">/knrdhz</a>
  <a href="/projects" class="purple">/projects</a>
  <a href="/contact" class="purple">/contact</a>
</section>

<h1>Hi, I'm Konrad</h1>

<br>
<strong>I'm a self-thaught software developer.</strong>
<br>
<br>

This is where I share interesting insights focused mostly on the Web, Internet and JavaScript. It is also a place where I document
my journey as a software craftsman. 
<br>
<br>

My blog is inspired by many fine thinkers that I have encountered while
browsing through the not-so-deep web. Some ideas might come as a build up on
their thoughts, other will be a documentation or tutorials explaining how things work.

<br>
<br>

To quote one famous mage: "Stay awhile and listen"

