/* :root { */
	/* --main-bg-color: #232946; */
	/* --main-color: #b8c1ec; */
	/* --highlight-color: #eebbc3; */
	/* --headline-color: #fffffe; */
/* } */

:root {
	--main-bg-color: #16161a;
	--main-color: #94a1b2;
	--highlight-color: #7f5af0;
	--headline-color: #fffffe;
	--code-bg-color: #24242b;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;  line-height: 1.6;
	color: var(--main-color);
	max-width: 40rem;
	padding: 2rem;
	margin: auto;
	background: var(--main-bg-color);
	font-weight: 200;
}

h1 {
	text-align: center;
	font-size: 50px;
	font-weight: 700;
	margin-bottom: 0;
	color: var(--headline-color);
}
h2 {
	text-align: left;
	font-size: 30;
	color: var(--headline-color);
	font-weight: 700;
}

h4 {
	text-align: center;
	color: var(--headline-color);
	font-weight: 100;
}

h3 {
	text-align: left;
	font-weight: 100;
	color: var(--headline-color) !important;
}

hr {
	color: var(--main-color);
}

a {
	color: var(--highlight-color);
	font-weight: 600;
	text-align: left;
	text-decoration: none;
	border-bottom: 1px dashed var(--main-color);
	margin-bottom: 0;
}

a:hover {
	border-bottom: 1px dashed var(--headline-color);
}

#headlineDate {
	color: var(--headline-color)
}


strong {
	font-weight: 700;
}



canvas {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

code {
	color: var(--headline-color);
	border-radius: 2px;
	padding-left: 2px;
	padding-right: 2px;
}

pre {
	background-color: var(--code-bg-color) !important;
	border-bottom: 3px solid var(--highlight-color);
	border-right: 3px solid var(--highlight-color);
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	display: block;
	overflow-y: auto;
}

.btnMenu {
	margin-left: 20px;
	color: var(--highlight-color)
}

.pageHeader {
	text-align: center;
}
