<!DOCTYPE html>
<html lang="en-US">
<head>
    <link rel="stylesheet" href="../../../../../assets/styles.css" type="text/css">
	<link rel="shortcut icon" type="image/x-icon" href="../../../../../assets/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= articleTitle %></title>
</head>
<body>
<section class="pageHeader">
  <a href="/" class="purple">/knrdhz</a>
  <a href="/projects" class="purple">/projects</a>
  <a href="/contact" class="purple">/contact</a>
</section>

<section class="main-content">
	<br><br>
	<%- body %>
</section>
</body>
</html>
