<!DOCTYPE html>
<html lang="en-US">
<head>
    <link rel="stylesheet" href="../../../../../assets/styles.css" type="text/css">
	<link rel="shortcut icon" type="image/x-icon" href="../../../../../assets/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= articleTitle %></title>
</head>
<body>
	<%- menuHeader %>
<section class="main-content">
	<br><br>
	<%- body %>
</section>
<%- footer %>
<script>
	console.log('Hello, World!')
</script>
</body>
</html>
